body {
    text-align:center;
    background: green url("https://i.ytimg.com/vi/muSlNENHAU0/maxresdefault.jpg") repeat;
    background-size:cover;
    height:100vh;
    width:95%;
    
    
}
.container {
    margin-top:150px;
    position:relative;
    height:300px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
p {
    color:white;
}
.circle {
    background:#444;
    height:300px;
    width:300px;
    position:absolute;
    border-radius:50%;
    z-index:-1;
}
.circle-gradient {
    background: conic-gradient(black 0deg, red 180deg, blue 60deg, green 180deg);
    border-radius:50%;
    position:absolute;
    z-index: -2;
    height:320px;
    width:320px;
}
.pointer-container {
    width:32px;
    height:200px;
    position: absolute;
    top:-50px;
    animation: rotate 7.5s linear infinite; 
    transform-origin:bottom;
}
.pointer {
    width:30px;
    height:30px;
    background-color:white;
    border-radius:50%;
}
.container.grow {
    animation: grow 3s linear forwards;
}
.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}


@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}